body {
	font-family: "Roboto", sans-serif;
}

body * {
	box-sizing: border-box;
}

body p {
	font-size: 0.8rem;
	line-height: 1.15;
	word-wrap: break-word;
}

body h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 0;
}

body h2 {
	font-size: 1rem;
	padding: 0;
	margin: 0;
}

body h3 {
	font-size: 1rem;
	font-weight: 200;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

body img {
	max-width: 100%;
	height: auto;
}

body a {
	text-decoration: none;
	color: #333;
	transition: all 0.3s ease;
}

body a:hover {
	color: #7fc1db;
	transform: scale(1.05);
}

.site-header {
	border-bottom: 3px solid #333;
}

.page-section {
	padding: 1rem 0 0 0;
	overflow: hidden;
}

.page-section:after{
	  content: "";
	  display: table;
	  clear: both;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.logo-container {
	float: left;
	width: 50%;
}

.logo-img {
	max-width: 85px;
	padding: 2.43rem 0 1rem 1rem;
}

.headline-container {
	width: 50%;
	float: right;
	text-align: right;
	padding-bottom: 1rem;
}

.picture-container {
	position: relative;

}

.secondary-title {
	padding-left: 1rem;
	padding-top: 1rem;
	color: #7fc1db;
}

.works-item {
	width: 100%;
	float: left;
	padding: 1rem;
	text-align: center;
}

.works-item p {
	margin: 0.5rem;

}


footer {
	width: 100%;
	position: relative;
	text-align: center;
	border-top: 2px solid #333;
	padding: 1rem 0;
}

.copyright {
	text-decoration: underline;
}

@media (min-width: 530px) {
	body h1 {
		font-size: 2.75rem;
		text-transform: uppercase;
		font-weight: 100;
		margin-bottom: 0;
	}

	body h3 {
		font-size: 1.75rem;
	}

	.works-item {
		max-width: 50%;
	}

	.last-item {
		justify-content: center;
	}
}

@media (min-width: 830px){
	
	.page-section {
		padding: 2rem 7rem;
	}

	.headline-container {
		padding-bottom: 0;
	}

	.logo-container {
		padding-bottom: 0;
	}

	.works-item{
		max-width: 33.3%;
	}

	body h1 {
		font-size: 4rem;
	}

	body h2 {
		font-size: 1.68rem;
	}

	body h3 {
		font-size: 2rem;
	}

	body p {
		font-size: 1.125rem;
	}
}






